body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url(https://media.istockphoto.com/vectors/bokeh-background-vector-id1050080844?k=20&m=1050080844&s=612x612&w=0&h=TnptyuWmqAznhI-stYCnEMNfTPoOs8vo4ZHAT7Fso40=);
  font-family: "Sora", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.scoreText {
  color: #103258;
  background-color: #ffff;
  margin-top: 30px;
  font-size: 35px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

h1 {
  color: #1468b0;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

.userBlock {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.user {
  border-style: solid;
  width: 15rem;
  height: 15rem;
  padding: 20px;
  text-align: center;
}

.playButton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.startButton {
  padding: 15px;
  font-size: 18px;
  border-radius: 9px;
  cursor: pointer;
  background-color: #228be6;
  color: white;
  border: none;
}

.startButton:hover {
  background-color: #5fabed;
}

.profileButtons {
  display: flex;
  margin: auto;
  width: 70%;
  padding: 10px;
  justify-content: space-around;
}

.allResults {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.gameResults {
  border: solid #64aeee;
  border-radius: 15px;
  width: 10rem;
  text-align: center;
  margin-top: 30px;
  margin-left: 20px;
  background-color: rgba(32, 100, 201, 0.3);
}

.gameCardText {
  text-shadow: 2px 2px 0px #ffffff;
  color: #103258;
}

.input1 {
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}

.input2 {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: auto;
  height: auto;
  position: static;
  cursor: default;
  opacity: 1;
  margin: 0;
  padding: 6px 20px;
  overflow: visible;
  border: none;
  -webkit-border-radius: 32px / 54px;
  border-radius: 32px / 54px;
  font: normal 18px / normal "Coda", Helvetica, sans-serif;
  color: rgba(0, 142, 198, 1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(252, 252, 252, 1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}

.userButtons {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 6px;
  border: 1px solid #84bbf3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.userButtons:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}

/* .navLink:hover {
} */

.userButtons:active {
  position: relative;
  top: 1px;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  font-family: "Arial";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 1px dotted #ffffff;
  border-radius: 17px;
  background: #79bbff;
  color: #0a2a45;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000000;
  background: #a7d1f5;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 9px;
  right: 16px;
  width: 4px;
  height: 4px;
  border: solid #0a2a45;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-color: #ffff;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}

.game {
  display: flex;
  justify-content: center;
  text-align: center;
}

.gameBlock {
  display: flex;
  border: #000000 solid;
  padding: 15px;
  margin-top: 40px;
}

.gameOver {
  margin-top: 200px;
  font-size: 30px;
  color: #103258;
}

nav {
  background-color: #79bbff;
}

nav a {
  display: inline-block;
  padding: 0.25rem;
  margin: 1rem;
  margin-left: 3rem;
  text-decoration: none;
  font-size: 1.2em;
  color: #ffff;
  border-bottom: 2px solid #114673;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: #114673;
  border-bottom: 2px solid #ffff;
}

.instructions {
  color: #0a2a45;
  margin-bottom: 60px;
}

.gameButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

.eachButton {
  margin-top: 25px;
}

.gameImage {
  width: 300px;
  height: 300px;
}
